body {
    font-family: 'helvetica neue', Helvetica, Arial, sans-serif;
}

::selection {
    background-color: #03a353;
    color: #fff;
}



h1, h2 {
    color: #000000;
    font-weight: 900 !important;
    font-family: 'bebas-neue', 'oswald', Helvetica, Arial, sans-serif;
}

h5 {
    font-family: 'bebas-neue', Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 13px;
}


* {
    margin: 0;
    padding: 0;
}


p {
    margin: 0.85em 0 !important;
}

/* NAVBAR */

.navbar {
    height: 14%;
    background-color: #000000;
}


/* nav-link */
.nav-link-hover {
    font-size: 13px;
    padding: 30px 30px 30px 30px;
}

.nav-link-hover:hover {
    color: #fff;
    background-color: #03a353;

}

/* DROPMENU */

.color {
    color: #fff;
}

.color:hover {
    background-color: rgba(3, 163, 83, 0.4);
    color: #fff;
}

/* Logo */
img.logo {
    width: 164px;
}

/* FONT AWSOME ICONS */

a.facebook-f.nav-link {
    position: relative;
    padding: 8px 12px 8px 13px !important;
    border-radius: 50%;
    width: 34px;
}


.facebook-f:hover {
    background-color: #37589b;
}




a.instagram.nav-link {
    position: relative;
    padding: 8px 26px 8px 13px !important; 
    border-radius: 50%;
    width: 34px;
}

a.instagram.nav-link:hover {
    background-color: #a67658;
    color: #fff;
}




.fa-tiktok:hover {
    color: #fff;
}




a.tiktok.nav-link {
    position: relative;
    padding: 8px 12px 8px 13px !important;
    border-radius: 50%;
    width: 37px;
}


a.tiktok.nav-link:hover {
    background-color: #ff0050;
    color: #ffffff !important;
}
 

/* About Home SECTION */

#about-home {
    height: 100%;
    width: 100%;
}

.about-padding-top {
    padding-top: 6rem !important;
}

.featurette-heading {
    font-family: 'bebas-neue', 'oswald', Helvetica, Arial, sans-serif;
    font-weight: bolder;
}

.bd-placeholder-img {
    height: 76%;
    width: 100%;
}


.dsfs{
    text-decoration: none;
}
 
.dsfs:hover{
    text-decoration: underline;
}


/* MEET OUR STYLISTS */

.stylists_heading{
    font-family: 'bebas-neue', 'oswald', Helvetica, Arial, sans-serif;
    font-weight: bold;
}



.errin_ferreira{
    font-family: 'bebas-neue', 'oswald', Helvetica, Arial, sans-serif;
    font-weight: bolder;
}



.stephen_ferreira{
    font-family: 'bebas-neue', 'oswald', Helvetica, Arial, sans-serif;
    font-weight: bolder;
}
 

.fa-camera-retro:hover{
color: #fff;
}
 

/* FOOTERS */

#footer {
    height: 100%;
    width: 100%;
    background-color: #000000;
border-top: 1px solid #8C8C8C;
}

.nav-footer-link {
    color: #8C8C8C;

}

.nav-footer-link:hover {
    color: #ffffff !important;
}


.text-decoration {
    text-decoration: none;
}

.text-decoration:hover {
    text-decoration: underline;
}
 

/* FOOTERS */

#footer {
    height: 100%;
    width: 100%;
    background-color: #000000;
}

.nav-footer-link {
    color: #8C8C8C;

}

.nav-footer-link:hover {
    color: #ffffff !important;
}


.text-decoration {
    text-decoration: none;
}

.text-decoration:hover {
    text-decoration: underline;
} 




/* MEDIA QUERY */

@media (max-width:1190px) {
    
    
    .bd-placeholder-img {
        height: 60%;
    }


.responsive_paragaraph{
    font-size: 12px !important;
}

.border-responsive{
    width: 98.6vw !important;
}



}


@media (max-width: 1141.82px){
.border-responsive {
    width: 98.4vw !important;
}
}

@media (max-width: 1100px){
.bd-placeholder-img {
    height: 52%;
}
}

@media (max-width: 1053.64px){
.border-responsive {
    width: 98.2vw !important;
}
}

@media (max-width: 991.82px){
    .stylists-padding {
        left: -8%;
    }
 
    img.stylists_1 {
    
    width: 34vw;
    }

    img.stylists_2 {
    
        width: 34vw;
        }
    
        img.stylists_3 {
    
            width: 34vw;
            }
        

}

@media (max-width: 980.91px){
.border-responsive {
    width: 98vw !important;
}
}


@media (max-width: 956.36px){
    .border-responsive {
        width: 97.8vw !important;
    }
    }

@media (max-width: 913.64px){


    .bd-placeholder-img {
        height: 42%;
    }

    .border-responsive {
    width: 97.5vw !important;
}



}

@media (max-width: 866.36px){
.stylists-padding {
    left: -3%;
}
}

@media (width: 820px){

.navbar {
    height: 8%;
}

.footer-height{
    height: 70vh !important;
}

}

@media (max-width: 800.91px){

 .stylists-padding {
    left: 1%;
}


    .bd-placeholder-img {
    height: 34%;
}



}


@media (max-width: 783.64px){
.border-responsive {
    width: 97.2vw !important;
}
}


@media (max-width: 767.27px){

.about-img{
    left: 16%;
}

    .bd-placeholder-img {
    height: 100%;
}

.fwb{
    width: 100% !important;
}

.stylists-padding {
     width: 86vw;
}

img.stylists_1 {
    width: 60vw;
    height: 78vh;
}


.experience_contact-paragraph{
    width: 80vw !important;
}

.border-width{
    width: 82vw !important;
}

img.stylists_2 {
    width: 60vw;
    height: 78vh;
}

img.stylists_3 {
    width: 60vw;
    height: 78vh;
}


}

@media (max-width: 720.91px){
.border-responsive {
    width: 98.8vw !important;
    left: -3% !important;
}
}

@media (width: 720px){

.navbar {
    height: 6%;
}

img.stylists_1 {
     height: 24vh;
}

img.stylists_2 {
     height: 24vh;
}

img.stylists_3 {
     height: 24vh;
}

.border-responsive {
    width: 101.2vw !important;
}
.footer-height{
    height: 78vh !important;
}

}

@media (width: 712px){

.navbar {
    height: 8%;
}

img.stylists_1 {
     height: 37vh;
}

img.stylists_2 {
     height: 37vh;
}

img.stylists_3 {
     height: 37vh;
}

.footer-height{
    height: 68vh !important;
}

}

@media (max-width: 700px){


    .stylists-padding {
        width: 90vw;
    }


img.stylists_1 {
    width: 58vw;
    height: 68vh;
}
img.stylists_2 {
    width: 58vw;
    height: 68vh;
}

img.stylists_3 {
    width: 58vw;
    height: 68vh;
}

}


@media (max-width: 670px){
.border-responsive {
    width: 98.5vw !important;
}
}

@media (max-width: 626.36px){
.border-responsive {
    width: 98.2vw !important;
}
}

@media (max-width: 620.91px){

    img.stylists_1 {
    height: 60vh;
}

img.stylists_2 {
    height: 60vh;
}

img.stylists_3 {
    height: 60vh;
}

}



@media (max-width: 600px){

    .navbar {
        height: 10%;
    }


    img.stylists_1 {
        height: 30vh;
    }

    img.stylists_2 {
        height: 30vh;
    }


    img.stylists_3 {
        height: 30vh;
    }


    .about-img {
    width: 64vw;
    left: 10%;
}



.footer-height{
    height: 66vh !important;
}

}


@media (max-width: 586.36px){
.border-responsive {
    width: 98vw !important;
}
}

@media (max-width: 575.45px){

    .about-img {
        width: 66vw;
        left: 16%;
    }


    .fwb {
    width: 96% !important;
    left: 4%;
    padding-top: 3rem;
}

.stylists-padding {
     padding-top: 3rem;
}

.row-padding{

    padding-top: 3rem;

}


.stylists-detail-padding{
    padding-top: 2rem;
}


}

@media (max-width: 562.73px){
.border-responsive {
    width: 97.6vw !important;
}
}

@media (max-width: 521.82px){
.border-responsive {
    width: 97.2vw !important;
}
}

@media (max-width: 500.91px){

img.stylists_1 {
    height: 50vh;
}

img.stylists_2 {
    height: 50vh;
}
img.stylists_3 {
    height: 50vh;
}

}

@media (max-width: 485.45px){

    .about-img {
        width: 86vw;
        left: 6%;
    }

    .border-responsive {
    width: 97vw !important;
}
img.stylists_1 {
    height: 66vh;
    width: 82vw;
}
img.stylists_2 {
    height: 66vh;
    width: 82vw;
}
img.stylists_3 {
    height: 66vh;
    width: 82vw;
}

}


@media (max-width: 480px){
img.stylists_1 {
    height: 42vh;
}

img.stylists_2 {
    height: 42vh;
}

img.stylists_3 {
    height: 42vh;
}

.footer-padding{
    padding-bottom: 24rem !important;
}

.border-responsive {
    width: 100vw !important;
}

}

@media (max-width: 470.91px){
.border-responsive {
    width: 96.6vw !important;
}
}

@media (max-width:412px) {
    

img.stylists_1 {
    height: 47vh;
}

img.stylists_2 {
    height: 47vh;
}
    img.stylists_3 {
        height: 47vh;
    }

    .footer-padding{
        padding-bottom: 16rem !important;
    }

    .border-responsive {
        width: 99.6vw !important;
    }
    
}

@media (width:393px) {

img.stylists_1 {
    height: 40vh;
}

img.stylists_2 {
    height: 40vh;
}

img.stylists_3 {
    height: 40vh;
}

.footer-padding{
    padding-bottom: 20rem !important;
}

.border-responsive {
    width: 99.3vw !important;
}


}


@media (width:390px) {
    
img.stylists_1 {
    height: 35vh;
}

img.stylists_2 {
    height: 35vh;

}
    img.stylists_3 {
        height: 35vh;
    }

    .footer-padding{
        padding-bottom: 24rem !important;
    }
    

    .border-responsive {
        width: 99.2vw !important;
    }

}

@media (width: 384px){

    .navbar {
        height: 14%;
    }

    .footer-padding {
    padding-bottom: 10rem !important;
}


.footer-height {
    height: 46vh !important;
}

}


@media (max-width: 360px){

    .navbar {
        height: 13%;
    }

    .footer-height{
        height: 55vh !important;
    }


    .footer-padding {
    padding-bottom: 10rem !important;
}
}

@media (max-width: 353px){
.border-responsive {
    width: 98.7vw !important;
}

}

@media (max-width:320px) {
    
.footer-height{
    height: 50vh !important;
}

.footer-padding{
    padding-bottom: 6rem !important;
}

}