body {
    font-family: 'helvetica neue', Helvetica, Arial, sans-serif;
}

::selection {
    background-color: #03a353;
    color: #fff;
}



h1, h2 {
    color: #000000;
    font-weight: 900 !important;
    font-family: 'bebas-neue', 'oswald', Helvetica, Arial, sans-serif;
}

h5 {
    font-family: 'bebas-neue', Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 13px;
}


* {
    margin: 0;
    padding: 0;
}


p {
    margin: 0.85em 0 !important;
}

/* NAVBAR */

.navbar {
    height: 14%;
    background-color: #000000;
}


/* nav-link */
.nav-link-hover {
    font-size: 13px;
    padding: 30px 30px 30px 30px;
}

.nav-link-hover:hover {
    color: #fff;
    background-color: #03a353;

}

/* DROPMENU */

.color {
    color: #fff;
}

.color:hover {
    background-color: rgba(3, 163, 83, 0.4);
    color: #fff;
}

/* Logo */
img.logo {
    width: 164px;
}

/* FONT AWSOME ICONS */

a.facebook-f.nav-link {
    position: relative;
    padding: 8px 12px 8px 13px !important;
    border-radius: 50%;
    width: 34px;
}


.facebook-f:hover {
    background-color: #37589b;
}




a.instagram.nav-link {
    position: relative;
    padding: 8px 26px 8px 13px !important; 
    border-radius: 50%;
    width: 34px;
}

a.instagram.nav-link:hover {
    background-color: #a67658;
    color: #fff;
}




.fa-tiktok:hover {
    color: #fff;
}




a.tiktok.nav-link {
    position: relative;
    padding: 8px 12px 8px 13px !important;
    border-radius: 50%;
    width: 37px;
}


a.tiktok.nav-link:hover {
    background-color: #ff0050;
    color: #ffffff !important;
}
  
/* MAP */

#map{
    width:100%;
    height: 100%;
}
 

/* CONTACT */


#contact{
    width:100%;
    height: 100%;
}


.submit:hover{
    color: #fff !important;
}

.submit:hover{
color: #000000 !important;
}


.address{
    text-decoration: none;
}

.address:hover{
text-decoration: underline;
}


/* DIRECT CONTACT */


#direct_contact{
    background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(255, 255, 255, 0.7)), to(rgba(255, 255, 255, 0.7))), url(../img/img1.jpg);
        background-image: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url(../img/img1.jpg);
        background-size: cover;
        background-position: center;
        font-family: Lato;
        color: #000000;
        height: 740px;
        width: 100%;
    
}



.ef_email{
    font-size: 0.9rem;
}




.sf_email{
    font-size: 0.9rem;
}





.sr_email{
    font-size: 0.9rem;
}

.ef-instagram{
    font-size: 0.9rem;
}


.sf-instagram{
    font-size: 0.9rem;
}


.sr-instagram{
    font-size: 0.9rem;
}

.email{
    text-decoration: none;
}

.email:hover{
    text-decoration: underline;
}

.instagram{
    text-decoration: none;
}

.instagram:hover{
    text-decoration: underline;
}


/* FOOTERS */

#footer {
    height: 100%;
    width: 100%;
    background-color: #000000; 
}

.nav-footer-link {
    color: #8C8C8C;

}

.nav-footer-link:hover {
    color: #ffffff !important;
}


.text-decoration {
    text-decoration: none;
}

.text-decoration:hover {
    text-decoration: underline;
}
 
 /* MEDIA QUERY */


 

 @media (max-width:1191.82px) {
    .border-responsive{
        width: 98.5vw !important;
    }
 }

 @media (max-width:1120px) {
 
 .sf_responsive {
    font-size: 1.5rem !important;
}

.sf_email {
    font-size: 0.8rem;
}



.dcs-responsive{
width: 21vw;
}



 }


 @media (max-width: 1095.45px){
    .border-responsive {
        width: 99.4vw !important;
        left: -2% !important;
    }
}

@media (max-width: 1068.18px){

.border-responsive {
    width: 99.2vw !important;
}
}

@media (max-width: 991.82px){

    .ef-responsive {
        font-size: 1rem;
    }
    
    .ef_email {
        font-size: 0.8rem;
    }

    .ef-instagram {
        font-size: 0.8rem;
    }

    .sf_responsive {
        font-size: 1rem !important;
    }


    .sf_email {
        font-size: 0.7rem;
    }

    .sf-instagram {
        font-size: 0.8rem;
    }

    .dcs-responsive {
        width: 18vw;
    }

    .sr-responsive {
        font-size: 1rem;
    }

    .sr_email {
        font-size: 0.8rem;
    }

    .sr-instagram {
        font-size: 0.8rem;
    }

    .border-responsive {
    width: 99vw !important;
}


 
}

@media (max-width: 978.18px){
    .border-responsive {
        width: 98.9vw !important;
    }
}

@media (max-width: 912.73px){
    .border-responsive {
        width: 98.7vw !important;
    }
}


@media (max-width: 841.82px){
.border-responsive {
    width: 98.4vw !important;
}
}

@media (max-width: 770.91px){
.border-responsive {
    width: 98vw !important;
}
}


@media (max-width: 767.27px){

.contact-responsive{
padding-left: 4rem !important;
height: 228vh !important;
}


#direct_contact {
     height: 382vh;
}

.ef-responsive {
    font-size: 1.5rem;
}

.ef_email {
    font-size: 1rem;
}

.ef-instagram {
    font-size: 1rem;
}


.sf_responsive{
    font-size: 1.5rem !important;
}

.sf_email {
    font-size: 1rem;
}

.sf-instagram {
    font-size: 1rem;
}

.dcs-responsive {
    width: 100%;
}

.sr-responsive {
    font-size: 1.5rem;
}

.sr_email {
    font-size: 1rem;
}


.sr-instagram {
    font-size: 1rem;
}

}

@media (max-width: 694.55px){
.border-responsive {
    width: 97.7vw !important;
}
}

@media (max-width: 684.55px){


.border-responsive {
    width: 97.2vw !important;
}
}

@media (max-width:578.18px) {

.border-responsive {
    width: 97vw !important;
}
}


@media (max-width:577.27px) {

.border-responsive {
    width: 96.9vw !important;
}
}


@media (max-width:575.45px) {
    

.contact-responsive {
    padding-right: 4rem;
    padding-left: 4rem !important;
     height: 256vh !important;
}

.border-responsive {
    width: 96.9vw !important;
}

.sdc_sh_container{
    padding-top: 3rem;
}
 
.direct_contact_container {
    padding-top: 3rem;
}

.direct_contact_row{
padding-top: 3rem;
}

.ef_img{
    padding-top: 3rem;
padding-left: 3rem;
padding-right: 3rem;
}

.sf_img{
    padding-top: 3rem;
    padding-left: 3rem;
    padding-right: 3rem;
}


.sr_img{
    padding-top: 3rem;
    padding-left: 3rem;
    padding-right: 3rem;
}


}


@media (max-width:564.55px) {

.border-responsive {
    width: 97.7vw !important;
    left: -3% !important;
}
}

@media (max-width:530.91px) {


.border-responsive {
    width: 97.4vw !important;
}
}

@media (max-width:502.73px) {

.border-responsive {
    width: 97.2vw !important;
}
}

@media (max-width:485.45px) {

.border-responsive {
    width: 97vw !important;
}
}

@media (max-width:469.09px) {

.border-responsive {
    width: 96.7vw !important;
}
}