body {
    font-family: 'helvetica neue', Helvetica, Arial, sans-serif;
}

::selection {
    background-color: #03a353;
    color: #fff;
}



h1, h2 {
    color: #000000;
    font-weight: 900 !important;
    font-family: 'bebas-neue', 'oswald', Helvetica, Arial, sans-serif;
}

h5 {
    font-family: 'bebas-neue', Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 13px;
}


* {
    margin: 0;
    padding: 0;
}


p {
    margin: 0.85em 0 !important;
}

/* NAVBAR */

.navbar {
    height: 14%;
    background-color: #000000;
}


/* nav-link */
.nav-link-hover {
    font-size: 13px;
    padding: 30px 30px 30px 30px;
}

.nav-link-hover:hover {
    color: #fff;
    background-color: #03a353;

}

/* DROPMENU */

.color {
    color: #fff;
}

.color:hover {
    background-color: rgba(3, 163, 83, 0.4);
    color: #fff;
}

/* Logo */
img.logo {
    width: 164px;
}

/* FONT AWSOME ICONS */

a.facebook-f.nav-link {
    position: relative;
    padding: 8px 12px 8px 13px !important;
    border-radius: 50%;
    width: 34px;
}


.facebook-f:hover {
    background-color: #37589b;
}




a.instagram.nav-link {
    position: relative;
    padding: 8px 26px 8px 13px !important; 
    border-radius: 50%;
    width: 34px;
}

a.instagram.nav-link:hover {
    background-color: #a67658;
    color: #fff;
}




.fa-tiktok:hover {
    color: #fff;
}




a.tiktok.nav-link {
    position: relative;
    padding: 8px 12px 8px 13px !important;
    border-radius: 50%;
    width: 37px;
}


a.tiktok.nav-link:hover {
    background-color: #ff0050;
    color: #ffffff !important;
}
  
/* MAP */

#map{
    width:100%;
    height: 100%;
}
 

/* CONTACT */


#contact{
    width:100%;
    height: 100%;
}


.submit:hover{
    color: #fff !important;
}

.submit:hover{
color: #000000 !important;
}


.address{
    text-decoration: none;
}

.address:hover{
text-decoration: underline;
}


/* DIRECT CONTACT */


#direct_contact{
    background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(255, 255, 255, 0.7)), to(rgba(255, 255, 255, 0.7))), url(../img/img1.jpg);
        background-image: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url(../img/img1.jpg);
        background-size: cover;
        background-position: center;
        font-family: Lato;
        color: #000000;
        height: 657px;
        width: 100%;
    
}



/* FOOTERS */

#footer {
    height: 100%;
    width: 100%;
    background-color: #000000;
border-top: 1px solid #8C8C8C;
}

.nav-footer-link {
    color: #8C8C8C;

}

.nav-footer-link:hover {
    color: #ffffff !important;
}


.text-decoration {
    text-decoration: none;
}

.text-decoration:hover {
    text-decoration: underline;
}
 
 