body {
    font-family: 'helvetica neue', Helvetica, Arial, sans-serif;
}

::selection{
    background-color: #03a353;

}

h1,h2{
    color: #000000;
    font-weight: bold;
    font-family:'bebas-neue', 'oswald', Helvetica, Arial, sans-serif ;
}

h5{
   font-family:'bebas-neue',Helvetica,Arial,sans-serif;
   font-weight: bold;
   font-size: 13px;
}


*{
    margin: 0;
    padding: 0;
}


p{
    margin: 0.85em 0 !important;
}

/* NAVBAR */

.navbar {
    height: 14%;
    background-color: #000000;
}


/* nav-link */
.nav-link-hover {
    font-size: 13px;
    padding: 30px 30px 30px 30px;
}

.nav-link-hover:hover {
    color: #fff;
    background-color: #03a353;

}

/* DROPMENU */

.color {
    color: #fff;
}

.color:hover {
    background-color: rgba(3, 163, 83, 0.4);
    color: #fff;
}

/* Logo */
img.logo {
    width: 164px;
}

/* FONT AWSOME ICONS */

a.facebook-f.nav-link {
    position: relative;
    padding: 8px 12px 8px 13px !important;
    border-radius: 50%;
    width: 34px;
}


.facebook-f:hover {
    background-color: #37589b;
}




a.instagram.nav-link {
    position: relative;
    padding: 8px 26px 8px 13px !important;

    border-radius: 50%;
    width: 34px;
}

a.instagram.nav-link:hover {
    background-color: #a67658;
    color: #fff;
}




.fa-tiktok:hover {
    color: #fff;
}




a.tiktok.nav-link {
    position: relative;
    padding: 8px 12px 8px 13px !important;
    border-radius: 50%;
    width: 37px;
}


a.tiktok.nav-link:hover {
    background-color: #ff0050;
    color: #ffffff !important;
}

/* TITLE */

#title {
    background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url(../img/img1.jpg);
    background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 1, 0.7)), url(../img/img1.jpg);
    background-size: cover;
    background-position: center;
    font-family: Lato;
    color: #fff;
    height: 657px;
    width: 100%;
}


#content {
    padding-top: 16%;
}

/* PHS CONTAINER */


.phs-container {
    color: white;
    text-align: center;
    background-color: #000;
    opacity: 0.8;
    max-width: 510px;
}


.phs {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 18px;
    padding: 10px 20px;
    font-weight: normal;
    line-height: 30px;
}


/* CFY CONTAINER */

.cfyl-container {
    display: block;
    margin-bottom: 20px;
    margin-top: 20px;
}

.cfyl {
    font-family: 'bebas-neue', 'oswald', Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-size: 68px;
    font-weight: bold;
    color: white;
    line-height: 90px;
}


.callout-intro {
    margin: 28px;
}


.callbrack {
    font-size: 76px;
    color: white;
    vertical-align: middle;
    font-weight: normal;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    margin: 0px auto;
}





.callcon {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    text-transform: none;
    font-size: 14px;
    color: #fff !important;
    font-weight: normal;
    vertical-align: middle;
    padding: 0px 20px;
    margin-top: 10px;
    line-height: 18px;
}

.booking {
    font-size: smaller;
}


/* About Home SECTION */

#about-home {
    height: 100%;
    width: 100%;
}


.featurette-heading {
    font-family: 'bebas-neue', 'oswald', Helvetica, Arial, sans-serif;
    font-weight: bolder;
}

.bd-placeholder-img {
    height: 68vh;
    width: 600px; 
}



/* SELLING POINT SECTION */

#selling-points {
    background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.8))), url(../img/selling-points-background-1-1030x283.jpg);
    background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8)), url(../img/selling-points-background-1-1030x283.jpg);
    background-size: cover;
    background-position: center;
    font-family: Lato;
    color: #fff;
    height: 100%;
    width: 100%;
}

.selling-points-heading {
    font-family: 'bebas-neue', 'oswald', Helvetica, Arial, sans-serif;
    font-weight: bolder;
}

.heading-span {

    letter-spacing: 1px;
}

.special_amp {
font-family: "Baskerville","Palatino Linotype","Palatino","Times New Roman",serif;
font-style: italic;
font-size: 1.3em;
line-height: 0.5em;
font-weight: normal;
}

.special_amp {
   
    font-size: 1em;
}

/* SERVICES SECTION */

.services{
    width: 100%;
    height: 100%;
}

.services-heading{
    font-family: 'bebas-neue',Helvetica,Arial,sans-serif;
    letter-spacing: 1px;
}


.special_amp {
    font-family: "Baskerville","Palatino Linotype","Palatino","Times New Roman",serif;
    font-style: italic;
    font-size: 1.3em;
    line-height: 0.5em;
    font-weight: normal;
    }
    
    .special_amp {
       
        font-size: 1em;
    }

.av-flex-placeholde{

    width: 6%;

}
    
/* CARDS */

.card{
    cursor: pointer;
}

.card-title{
    font-family: 'bebas-neue',Helvetica,Arial,sans-serif;
}

.all-services{
      right: -44%;
}

/* TRENDING ON TREMONT */

#trending{
    width: 100%;
    height: 100%;
    background-color: #F2F2F2;
}

.trending-header{
    line-height: 1px;
}

.trending-heading{
    letter-spacing: 1px;
    font-family:'bebas-neue',Helvetica,Arial,sans-serif;
    font-weight: bold;
}

.trend-card-height{
    height: 95%;
}


.trending-img{
    height: 48vh;
}

/* EDUCATION SECTION */


#education {
    height: 100%;
    width: 100%;
}

.bd-education-img{
    height: 74vh;
}


/* FOOTERS */

/* FOOTER1 */



#footer-1 {
    height: 100%;
    width: 100%;
    background-color: #000000;
}

.link-light:hover{
    text-decoration: underline;
}


/* FOOTER-2 */
#footer-2{
    background-color: #191919;
color: #637163;
}
.privacy{
    text-decoration: none;
}

.privacy:hover{
text-decoration: underline;
}

/* MEDIA QUERY */

@media (max-width:990.91px) {
 .fwb{
    width: 84%!important;
    top: 16px;
 }
}

@media (max-width:991px) {

    #navbarSupportedContent {
        background-color: #000000;
    }


    ul.social-media.navbar-nav.flex-row.ms-5 {

        margin-left: 1.5rem !important;

    }

}


@media (max-width:767.27px) {

.all-services {
    right: -37%;
}

}

@media (max-width:700px) {

    .all-services {
        right: -35%;
    }
    
    }


    @media (max-width:500.91px) {

        .all-services {
            right: -30%;
        }
        
}